$primary: #3282f7;
$success: #68d9a4;
$danger: #ed6454;
$enable-negative-margins: true;
$input-group-addon-bg: #e7e7e7;
$font-family-base: "Lato", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  c1: $spacer * 0.3,
  c2: $spacer * 0.8,
  c3: $spacer * 1.25,
  c4: $spacer * 1.875,
  c5: $spacer * 3.125,
  c6: $spacer * 6.25,
  c7: $spacer * 0.625,
  c8: $spacer * 0.875,
  c9: $spacer * 1.125,
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// ------- HEADER ------- //
#logo {
  width: 268px;
  height: auto;
}

// ------- SEARCH ------- //
#searchField {
  background-color: #e7e7e7;
  @include placeholder {
    color: black;
    opacity: 0.25;
  }
  font-size: 1.125rem;
  height: 69px;
}

// -------- TAGS -------- //

#search-tags {
  padding-left: 12px;
  padding-right: 12px;
}

.search-tag {
  height: 37px;
  width: fit-content;
  width: -moz-fit-content;
}

// ------- FILTER ------- //

#filter-buttons {
  padding-left: 12px;
  padding-right: 12px;
}

// .filter-button {
//   width: fit-content;
// }

// .filter-button + .filter-button {
//   margin-top: 5px;
// }

// .filter-button + .filter-button {
//   margin-left: 20px;
// }

.btn {
  height: 70px;
  width: 170px;
  font-size: 1.125rem;
}

// ------ DROPDOWN ------ //

#ingredientsCollapse,
#ustensilsCollapse,
#applianceCollapse {
  z-index: 1000;
  border-radius: 5px;
  max-width: 630px;
}

#ingredientsSearchInput,
#ustensilsSearchInput,
#applianceSearchInput {
  @include placeholder {
    color: white;
    opacity: 0.5;
    font-size: 18px;
  }
  color: white;
  font-size: 18px;
}

// check border-radius bootstrap

#ingredientOptions,
#ustensilOptions,
#applianceOptions {
  // padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  max-width: 630px;
}

@media (min-width: 768px) {
  #ingredientOptions,
  #ustensilOptions,
  #applianceOptions {
    width: 40vw;
  }
}

@media (min-width: 992px) {
  #ingredientOptions,
  #ustensilOptions,
  #applianceOptions {
    width: 55vw;
  }
}
// -------- CARD -------- //
#nomatch {
  display: none;
}

.card {
  height: 364px;
  border-radius: 5px;
}

.card-body {
  // padding: 20px;
  background-color: #e7e7e7;
  height: 186px;
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 12px;
}

.card-recipe-time {
  font-size: 18px;
}

.recipe-ingredients {
  max-height: 70px;
  line-height: 14px;
  // @include line-clamp;
}

.recipe-instructions {
  max-height: 60px;
  line-height: 12px;
  font-family: $font-family-roboto;
  @include line-clamp;
}

.card-img-top {
  height: 178px;
  background-color: #c7bebe;
}

.recipeCard[data-found="true"] {
  display: flex;
}

.recipeCard[data-found="false"] {
  display: none;
}

.filter-option[data-hide="true"] {
  display: none;
}
